include::{snippets}/{{identifier}}/api-header.adoc[]

include::{snippets}/{{identifier}}/path-parameters.adoc[opts=optional]

include::{snippets}/{{identifier}}/request-parameters.adoc[opts=optional]

include::{snippets}/{{identifier}}/request-fields.adoc[opts=optional]

include::{snippets}/{{identifier}}/response-fields.adoc[opts=optional]

include::{snippets}/{{identifier}}/http-request.adoc[opts=optional]

include::{snippets}/{{identifier}}/http-response.adoc[opts=optional]
