.start-menu-launcher-control {
  height: 48px;
  width: 48px;
}

.start-menu-back-action-control {
  height: 48px;
  width: 48px;
}

.start-menu-search-box-control {
  width: auto;
}

.start-menu-group-list-control {
  .q-tabs__content {
    overflow: scroll;
  }

  .q-tab__content {
    padding: map-get($space-sm, 'y') map-get($space-xs, 'x');
    width: 100%;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;

    .q-tab__label {
      padding: 0;
    }

    .q-tab__icon {
      padding-left: map-get($space-sm, 'x');
      padding-right: map-get($space-sm, 'x');
    }
  }
}

.start-menu-item-list-control {
  > .start-menu-item-subgroup-control ~ .start-menu-item-subgroup-control {
    padding-top: map-get($space-xl, 'y');
  }

  .sub-group-header-control {
    color: rgba(255, 255, 255, 0.6);
  }

  .start-menu-item-control {
    padding: 0;
    width: 96px;
  }

  .start-menu-item-icon {
    border-radius: 12px;
    font-size: 24px;
    width: 96px;
    height: 96px;
  }
}

.application-header-control {
  height: 48px;
  min-height: 48px;
}

.application-title-control {
  font-size: 1.25rem;
}

.profile-menu-launcher-control {
  height: 48px;
  width: 48px;
}

.page-host-control {
  .q-tab {
    padding: 0 map-get($space-sm, 'x');
    min-height: 32px;
    height: 32px;
  }
}

.page-host-actions-control {
  .q-btn {
    font-size: 0.65rem;
    width: 32px;
  }
}
