.start-menu-launcher-control {
  height: 48px;
  width: 48px;
}

.start-menu-back-action-control {
  height: 48px;
  width: 48px;
}

.start-menu-search-box-control {
  width: auto;
}

.start-menu-group-list-control {
  .q-tabs__content {
    overflow: scroll;
  }

  .q-tab__content {
    width: 100%;
    padding-right: map-get($space-xs, 'x');
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;

    .q-tab__label {
      padding: 0;
    }

    .q-tab__icon {
      padding-left: map-get($space-sm, 'x');
    }
  }
}

.application-header-control {
  height: 48px;
  min-height: 48px;
}

.application-title-control {
  font-size: 1.25rem;
}

.profile-menu-launcher-control {
  height: 48px;
  width: 48px;
}

.page-host-control {
  .q-tab {
    padding: 0 map-get($space-sm, 'x');
    min-height: 32px;
    height: 32px;
  }
}

.page-host-actions-control {
  .q-btn {
    font-size: 0.65rem;
    width: 32px;
  }
}
