.start-button {
  height: 48px;
  width: 48px;
}

.application-header-control {
  height: 48px;
  min-height: 48px;
}

.application-title {
  font-size: 1.25rem;
}

.profile-menu-button {
  height: 48px;
  width: 48px;
}

.page-host-control {
  .q-tab {
    padding: 0 map-get($space-sm, 'x');
    min-height: 32px;
    height: 32px;
  }
}

.page-host-actions-control {
  .q-btn {
    font-size: 0.65rem;
    width: 32px;
  }
}
